
.header{
  grid-area: header;
  background-color: forestgreen;
  
}
.header img{
  width: 20px;
}


.btn-success{
  margin-left: 900px;
  font-size: 70px;
}
.loginBlock{
  float: right;
}
.loginBlock a{
  color:white;
}